/*body {
	background-image: url('../assets/background.png')
}*/

.menu {
	float: left;
	padding: 20px 20px 20px 20px;
}

.body {
	position: relative;
	float: left;
	padding-left: 20px;
	font-size: 16px;
	border-left: solid thin gray;
}
