.smallpadding {
	padding: 0px 0px 0px 0px;
}

.linkpadding {
	padding: 0px 5px 0px 5px;
}

.contactimage{
	max-width: 40px;
	max-height: 40px;
}

.roundimage {
	border-radius: 50%;
}

.separator {
	border: solid thin gray;
	width: 90%;
	margin-top: 5px;
	margin-bottom: 50px;
}
