.title {
	display: inline;
}

.date {
	padding-left: 40px;
	font-style: italic;
}

.space-bottom {
	padding-bottom: 30px;
}

.location {
	margin-top: 4px;
	margin-bottom: 5px;
	font-weight: normal;;
	font-size: 16px;
	padding-left: 40px;
}

.thin {
	margin-top: 5px;
	margin-bottom: 5px;
}

.links {
	padding-left: 40px;
}
